In [1]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'quiz_project.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

from django_pandas.io import read_frame
# !pip install django_pandas

In [15]:
from quiz_app.models import (
    Subject,
    Question,
#     Option,
)
from django.db.models import (
    OuterRef,
    Count,
    F,
    Value,
    
)

In [16]:
get_question_qs = Question.objects.filter(subject__subject_name__iexact='biology')

In [17]:
read_frame(get_question_qs)

,id,subject,question_name,op1,op2,op3,op4,answer,created_at,updated_at
0,2,Biology,Who discover Mitochondria,Albert Einstien,Neuton,Proton,Benda,Benda,2023-02-15,2023-02-15
1,4,Biology,What are vacuoles in plant cells,Blank Space,Remaining Space,Cell organally,Cell Energy system,Blank Space,2023-02-15,2023-02-15

In [23]:
get_subject_list = Subject.objects.all().values('subject_name',"id"
            ).annotate(
                number_of_questions = Question.objects.filter(subject_id=OuterRef("id")
                                            ).values("subject_id"
                                                ).annotate(number_of_questions=Count("id")).values("number_of_questions")
                
                )

In [24]:
read_frame(get_subject_list)

  subject_name  id  number_of_questions
0      Science   6                    1
1      Biology   7                    2
2      History   8                    1